
      body{

      font-family: Tahoma, Geneva, sans-serif;


      }
      .main{

      background-image: url(https://thumbs.dreamstime.com/b/survey-template-questionnaire-choice-marked-check-box-pen-paper-background-closeup-108053764.jpg) ;
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      overflow-y:scroll;
      font-size: 24px;
      color:#ffffff;
      }
      .main::after{
          content: "";
      position:relative;
      color:black;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      }
        .main > p,
        .main > h1{
          text-align: center;
          color:#2893CC;
          font-size:30px;
          position: relative;
          font-family: Arial, Helvetica, sans-serif;
          z-index:2;
      }
    .main-content{

    background-color:#3426CC ;
    max-width: 650px;
    display: flex;
    flex-direction:colum;
    padding: 40px;
    margin: 0 auto;
    margin-bottom:;
    border-radius: ;
    z-index: 2;
    position:relative;
    box-shadow:0px -1px 10px 5px purple;

    }
    #name , #email,#number, #dropdown, #comment{

    display: block;
    width: 100%;
    height:35px;
    padding: 5px 10px;
    color:#000000;
    background-color: #ffffff;
    border: 1px solid #2946FF;
    border-radius: 5px;
    font-size:22px;
    margin-bottom: 40px;
    }
    label[for=name],
    label[for=email],
    label[for=number],
    label[for=comment],  {
          margin-bottom:10px;
          display: inline-block;

       }
       #internet,#computer, #english, fieldset input{
            width: 20px;
            height: 20px;
            margin-right:15px;
            margin-bottom:  15px;


       }
       #comment{
         min-height:200px;
       }
       label[for=comment] {
            margin-top:50px;
       }
       #submit{

       display: block;
       width: 100%;
       padding:12px;
       background-color:#CCB1C8;
       border-radius: 5px;
       cursor:pointer;
       border:0;
       color:#ffffff;
       font-size:20px;
       }




